@import './common.scss';
@import './tourjs-header.scss';
@import './user-set-up-widget.scss';
@import './set-up-ride.scss';
@import './pending-race.scss';
@import './mini-map.scss';
@import './main-map.scss';
@import './leader-board.scss';
@import './user-dashboard.scss';
@import './display-race';

* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: lightpink;
}

.application {
  &__container {
    //max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
