@import './common.scss';
@import './tourjs-header.scss';
@import './user-set-up-widget.scss';
@import './set-up-ride.scss';
@import './pending-race.scss';
@import './mini-map.scss';
@import './main-map.scss';
@import './leader-board.scss';
@import './user-dashboard.scss';
@import './display-race';
@import './mini-map-live.scss';
@import './create-race-widget.scss';
@import './display-pre-race-rider.scss';
@import './display-pre-race.scss';
@import './vertical-align.scss';
@import './index.scss';
@import './hrm-control.scss';
@import './pacing-challenge-overlay.scss';
@import './pacing-challenge.scss';
@import './stored-data.scss';
@import './kickr-setup.scss';
@import './display-post-race.scss';
@import './ai.scss';

* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $global-bg;
}
@keyframes pulse-yellow {
  0% {color: darkgoldenrod;}
  50% {color: orange;}
  100% {color: darkgoldenrod;}
}

.application {
  &__container {
    //max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  &__hill-adjust {
    padding: 8px;
    font-size: 32px;
  }
  &__user-status {
    position: fixed;
    top: 100vh;
    height: 7.5vh;
    width: 100%;
    transition: top 0.25s;
    background-color: white;
    border: 1px solid green;
    text-align: center;
    padding-top: 4px;
    font-size: 2.0vh;
    line-height: 2.0vh;

    &--cheater {
      border: 1px solid black;
      width: 400px;
      height: 100px;
    }
    
    &.cheater {
      top: 92.5vh;
    }
    &.user-valid {
      top: 92.5vh;
    }
  }
  &__device-write {
    position: fixed;
    right: -2vw;
    bottom: -3vh;
    width: 8vw;
    height: 8vh;
    background-color: transparent;
    transition: opacity 0.25s;
    transform: rotate(45deg);
    border: 1px solid rgba(255,255,255,0.3);
    opacity: 0;

    &.good {
      background-color: rgba(128,192,128,1);
      opacity: 0.3;
      
    }
    &.bad {
      background-color: red;
    }
  }
  &__bluetooth-warning {
    position: fixed;
    top: 100%;
    height: 10%;
    width: 100%;
    transition: top 0.25s;
    background-color: white;
    text-align: center;
    border: 1px solid red;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    
    &--text {
      flex: 1 1 auto;
      font-size: 8vh;
      padding-top: 4px;
    }
    &--buttons {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
    }
    &--button {
      border-radius: 4px;
      border: 1px solid black;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 32px;
    }

    &.device-gone {
      top: 90%;
    }
  }
}

.bluetooth-warning-socket {
  min-height: 10vh;
}

i {
  &.red {
    color: red;
  }
  &.yellow {
    color: darkgoldenrod;
    animation-name: pulse-yellow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
  &.blue {
    color: #3b5998;
  }
}