.display-race {
  &__rankings-container {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
  }
  &__status-container {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: red;
  }
  &__main-holder {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

}

@media screen and (max-width:640px) {
  .display-race {
    &__rankings-container {
      top: 0;
      left: 0;
      bottom: auto;
      width: 100vw;
    }
    &__mini-map-container {
      opacity: 0.7;
      width: 100vw;
      height: 80px;
      background-color: rgba(0,0,0,0.5);
    }
  }
}