.display-pre-race-rider {
  &__container {
    width: 150px;
    display: inline-block;
    background-color: rgb(240,230,230);
    border: 1px solid white;
    line-height: 0px;
  }
  &__text {
    text-align: center;
    line-height: 115%;
  }
  &__image-holder {
    display: block;
    text-align: center;
    height: 100px;
  }
  &__image {
    width: 100px;
    height: 100%;
    border-radius: 50px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
  }
}