@keyframes pulse-red-color {
  0% {color: red;}
  50% {color: darkred;}
  100% {color: red;}
}

.hrm-control {
  &__super-container {
    background-color: black;
  }
  &__container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
  }
  &__button-row {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  }
  &__data-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
  }
  &__data-key {
    flex: 0 0 140px;
    font-size: 24px;
  }
  &__heart {
    color: red;
    animation-name: pulse-red-color;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    &.down5 {
      animation-duration: 4s;
    }
    &.down1 {
      animation-duration: 2s;
    }
    &.up1 {
      animation-duration: 1s;
    }
    &.up5 {
      animation-duration: 0.5s;
    }
  }
  &__data-value {
    flex: 1 1 0px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
  }
  &__button {
    @include big-button();
    flex: 1 1 auto;
  }
  &__download {
    @include big-button();
    width: 100%;
    max-width: 100%;
  }
}