.leader-board {
  &__container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 320px;
    min-width: 320px;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 4px;
    color: white;
  }
  &__rank {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    padding: 4px;
    font-size: 14px;
    box-sizing: border-box;
    border-top: 0.5px solid rgba(0,0,0,1.0);

    &:nth-child(2n+1) {
    }

    &.local.human {
      font-weight: bold;
      color: white;
    }
    &.ai {
      font-weight: lighter;
      font-style: italic;
      color: rgb(160,180,160);
    }
    &.human {
      color: rgb(255,200,200);
    }

    &-text {
      flex: 0 0 32px;
    }
    &-name {
      flex: 1 1 0px;
    }
    &-distance {
      flex: 0 0 64px;
    }
  }
}

@media screen and (max-width:640px) {
  .leader-board {
    &__container {
      min-width: 100vw;
    }
    &__rank {
      padding: 2px;
    }
  }
}