.tourjs-header {
  &__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
  &__title {
    display: inline-block;
    font-size: 96px;
    text-align: center;
    text-decoration: none;
    color: black;

    &:visited {
      color: black;
    }
  }
  &__subhead {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
  
    &--item {
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;
      
      &-label {
        font-weight: lighter;
        font-size: 10px;
      }
      &-value {
        font-weight: bolder;
        font-size: 14px;
      }
    }
  }
}