[submodule "tourjs-ember/app/tourjs-shared"]
	path = tourjs-ember/app/tourjs-shared
	url = https://github.com/arthare/tourjs-shared.git
[submodule "tourjs-react/src/tourjs-shared"]
	path = tourjs-react/src/tourjs-shared
	url = https://github.com/arthare/tourjs-shared.git
[submodule "api/tourjs-shared"]
	path = api/tourjs-shared
	url = https://github.com/arthare/tourjs-shared.git
[submodule "tourjs-ember/app/tourjs-client-shared"]
	path = tourjs-ember/app/tourjs-client-shared
	url = https://github.com/arthare/tourjs-client-shared.git
[submodule "tourjs-react/src/tourjs-client-shared"]
	path = tourjs-react/src/tourjs-client-shared
	url = https://github.com/arthare/tourjs-client-shared.git