[submodule "tourjs-ember/app/tourjs-shared"]
	path = tourjs-ember/app/tourjs-shared
	url = https://github.com/arthare/tourjs-shared.git
[submodule "api/tourjs-shared"]
	path = api/tourjs-shared
	url = https://github.com/arthare/tourjs-shared.git

