{{#if cell.hasShip}}
  <div class="battleship-map-cell__ship {{if cell.shipDamaged 'damaged'}}">
    {{#if cell.shipDamaged}}
      <div class="battleship-map-cell__ship--smoke"></div>
    {{/if}}
  </div>
{{/if}}
{{#if cell.hasRadar}}
  <div class="battleship-map-cell__radar"></div>
{{/if}}
{{#if cell.hasShot}}
  <div class="battleship-map-cell__shot"></div>
{{/if}}
{{#if cellDisplay}}
  {{cellDisplay}}
{{/if}}