<div class="index__container">
  {{tourjs-header}}
  <div class="index__activity user" {{action 'goto' 'set-up-user'}}>
    {{#vertical-align class="index__activity--text"}}
      Setup User
    {{/vertical-align}}
  </div>
  <div class="index__activity race" {{action 'goto' 'set-up-ride'}}>
    {{#vertical-align class="index__activity--text"}}
      Race
    {{/vertical-align}}
  </div>
  <div class="index__activity battleship" {{action 'goto' 'battleship'}}>
    {{#vertical-align class="index__activity--text"}}
      Battleship
    {{/vertical-align}}
  </div>
</div>