<div class="leader-board__title">
  Leader Board:
</div>
{{#each rankings as |ranking index|}}
  <div class="leader-board__rank {{ranking.classString}}">
    <span class="leader-board__rank-text">
      #{{add index 1}}
    </span>
    <span class="leader-board__rank-name">
      {{ranking.name}}
    </span>
    <span class="leader-board__rank-distance">
      {{ranking.distance}}
    </span>
  </div>
{{/each}}