<div class="display-pre-race-rider__image-holder">
  <div class="display-pre-race-rider__image"></div>
</div>
<div class="display-pre-race-rider__text">
  <b>{{display.name}}</b><br />
  <i class="fas fa-bolt"></i> {{display.lastPower}}<br />
  Handicap: {{display.handicap}}<br />
</div>