<span class="pacing-challenge-overlay__label">Energy Left:</span> 
<span class="pacing-challenge-overlay__data">{{powerData.powerRemaining}}</span>
<br>
<span class="pacing-challenge-overlay__label">Energy Left per km:</span> 
<span class="pacing-challenge-overlay__data">{{powerData.powerRemainingPerKm}}</span>
<br>
<span class="pacing-challenge-overlay__label">Energy Used per km:</span> 
<span class="pacing-challenge-overlay__data">{{powerData.powerUsedPerKm}}</span>
<br>