{{#if startsInSeconds}}
  <div class="display-pre-race__start">
    
    Starts In: {{time-display startsInSeconds}}
  </div>
{{/if}}
{{#each localRiders as |riderDisplay|}}
  {{display-pre-race-rider display=riderDisplay}}
{{/each}}
{{#each nonLocalHumans as |riderDisplay|}}
  {{display-pre-race-rider display=riderDisplay}}
{{/each}}
{{#each ais as |riderDisplay|}}
  {{display-pre-race-rider display=riderDisplay}}
{{/each}}
<div class="bluetooth-warning-socket"></div>