@keyframes bouncing-text {
  0% {
    text-align: left;
  }
  100% {
    text-align: right;
  }
}

$col1: white;
$col2: black;

@keyframes PulseBlackWhiteBorderRight {
  0% {border-right-color: $col1;}
  50% {border-right-color: $col2;}
  100% {border-right-color: $col1;}
}

@keyframes PulseBlackWhiteBorderLeft {
  0% {border-left-color: $col1;}
  50% {border-left-color: $col2;}
  100% {border-left-color: $col1;}
}
@keyframes PulseBlackWhiteBothBorders {
  0% {border-left-color: $col1; border-right-color: $col1}
  50% {border-left-color: $col2; border-right-color: $col2}
  100% {border-left-color: $col1; border-right-color: $col1}
}
.InRaceView {
  &__Container {
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction:column;
    overflow: hidden;
    border-left: 2px solid white;
    border-right: 2px solid white;
    box-sizing:border-box;
    
    &.Following {
      animation-name: PulseBlackWhiteBorderRight;
      animation-duration:0.25s;
      animation-iteration-count: infinite;
    }
    &.BeingFollowed {
      animation-name: PulseBlackWhiteBorderLeft;
      animation-duration:0.25s;
      animation-iteration-count: infinite;
    }
    &.Following.BeingFollowed {
      animation-name: PulseBlackWhiteBothBorders;
      animation: duration 0.25s;
      animation-iteration-count: infinite;
    }
  }
  &__Canvas {
    width: 100vw;
    height: 100vh;
  }
  &__Leaderboard-Container {
    position: absolute;
    bottom: 10vh;
    height: 58px;
    background-color: rgba(0,0,0,0.45);
    width: 100%;
  }
  &__Status-Container {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.35);
  }
  &__Minimap-Container {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 10vh;
  }
}


@media screen and (max-width: 900px) and (orientation:landscape) {
  .InRaceView {
    &__Leaderboard-Container {
      bottom: 10vh;
    }
  }
}

.InRaceLeaderboard {
  &__Container {
    display: block;
    text-align: center;
    overflow-x: hidden;
    padding: 4px;
  }
}
.InRaceLeaderboardGroup {
  &__Container {
    display: inline-block;
    font-size: 12px;
    color: white;
    text-align: center;
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 1px black;
    width: 90px;
    box-sizing:border-box;

    &.Local {
      font-weight: bold;
      font-size: 14px;
      color: white;
      box-shadow: 0px 0px 2px black;
      background-color: rgba(0,0,0,0.1);
    }
    &.Human {
      font-size: 14px;
      color: white;
    }
  }
  &__Leader {
    display: block;
    max-width:90px;
    height: 14px;
    overflow: hidden;
    transition: direction 0.5s;
    direction: rtl;
    &.Odd {
      direction:ltr;
    }
  }
  &__Marquee {
    display: inline-block;
    white-space:nowrap;
    height: 100%;
    margin: 0;
  }
  &__GroupMember {
    max-width: 14px;
    max-height: 14px;
    margin-right: -6px;
  }
}
.InRaceLeaderboardGap {
  &__Container {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 12px;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (orientation: portrait) {
  .InRaceView {
    &__Leaderboard-Container {
      height: auto;
    }
  }
  .InRaceLeaderboard {
    &__Container {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .InRaceLeaderboardGroup {
    &__Container {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    &__Leader {
      display: inline-block;
      flex: 0 0  33%;
    }
    &__Data {
      flex: 0 0  33%;
    }
    &__Who {
      flex: 0 0  33%;
    }
  }
  .InRaceLeaderboardGap {
    &__Container {
      display: block;
      padding-top: 0px;
      text-align: center;

      & div {
        display: inline-block;
      }
    }
  }
}
