
@keyframes PulseBlueRed {
  0% {background-color: blue;}
  50% {background-color: red;}
  100% {background-color: blue;}
}

@keyframes PulseGreens {
  0% {background-color: rgba(0,255,0,0.3);}
  50% {background-color: rgba(0,255,0,0.6);}
  100% {background-color: rgba(0,255,0,0.3);}
}

.InRaceViewStatus {
  &__Container {
    display: flex;
    flex-direction: column;
    //font-size: 100%;
  }
  &__InfoChunk {
    color: white;
    flex: 1 1 0px;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 10%
  }
  &__Connect {
    text-shadow: white 0px 0px 6px;

    animation: none;
    &.NoPower {
      animation-name: PulseBlueRed;
      animation-duration:0.5s;
      animation-iteration-count: infinite;
    }
    &.SmallButton {
      display: inline-block;
      max-width: 3vw;
      padding: 2px;
    }
    
    position: absolute;
    top: 5px;
    right: 5px;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    font-size: 2.5vh;
    text-align: center;
  }
  &__Progress {
    width: 6vh;
    height: 6vh;
  }
  &__Handicap {
    position: absolute;
    right: 5px;
    bottom: 5px;
    overflow: hidden;
    font-size: 1.2vw;
    color: rgba(255,255,255,0.3);
    display: inline-block;
    border-radius: 0.4vh;
    padding: 2px;
    transition: color 0.5s, background-color 0.5s;
    &.Shown {
      color: white;
      background-color: rgba(0,255,0,0.5);
      animation-name: PulseGreens;
      animation-duration:0.5s;
      animation-iteration-count: infinite;
    }
  }
}

@media screen and (orientation:landscape) and (max-width: 900px) {
  /* Landscape phone */
  .InRaceViewStatus {
    &__Container {
      font-size: 6vh;
    }
  }
}