.PostRaceView {
  &__Container {
    max-width: 480px;
  
    margin-left: auto;
    margin-right: auto;
  }
}

.RankingList {
  &__Item {
    &.Ai {
      color: grey;
      font-size: 12px;
    }
    &.Bot {
      color: rgb(20,20,20);
    }
    &.Human {
      font-weight: bolder;
      color: green;
    }
    &.Local {
    }
  }
}