@import './CommonStyle.scss';

$image-height: 80px;
$card-width: 160px;
$card-height: 160px;

.PreRacePerson {
  &__Container {
    width: $card-width;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 8px;
    box-shadow: 4px 4px 4px grey;
    padding: 4px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    height: $card-height;
  }
  &__Inner-Container {
    display: flex;
    flex-direction: column;
  }
  &__Image-Container {
    flex: 1 1 0px;
    max-height: $image-height;
    text-align: center;
    & img {
      max-height: $image-height;
    }
  }
  &__Data-Container {
    flex: 0 0 auto;
    &--Key {
      font-size: 12px;
      font-style: italic;
      color: rgba(0,0,0,0.4);
    }
    &--Value {
      
    }
  }
}

.PreRaceSection {
  &__Container {
    margin: 8px;
    display: flex;
    flex-direction: row;
    @include Card();
  }
  &__Name {
    flex: 0 0 20vw;
    font-size: 36px;
  }
  &__People {
    flex: 1 1 0px;
    display: inline-block;
  }
}

.UserSummary {
  &__Container {
    padding-top: 2px;
    padding-bottom: 2px;
    color: grey;
    &.Local {
      color: pink !important;
    }
    &.Human {
      color: white;
    }
  }

  &__Watts {
    color: grey;

    &.Nonzero {
      color: white;
    }
  }
}

.PreRaceView {
  &__Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    overflow: hidden;
  }
  &__Statuses {
    &--Container {
      flex: 0 0 10vh;
      width: 100%;

      display: flex;
      flex-direction: row;
    }
  }
  &__PlayersAndMap {
    &--Container {
      flex: 1 1 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      max-height: 90vh;
    }
  }
  &__Players {
    &--Container {
      flex: 1 1 0px;
      background-color: black;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 4px;
    }
  }
  &__Map {
    &--Container {
      flex: 2 2 0px;
      font-size: 24px;

      display: flex;
      flex-direction: column;
    }

    &--MapData {
      flex: 0 0 auto;
      padding: 8px;
      color: white;
    }

    &--Static {
      flex: 1 1 0px;
      padding-bottom: 8px;
      max-height: 640px;
    }

  }
  &__YouAreConnected {
    font-size: 16px;
  }
}