.RaceMini {
  &__Container {
    display: flex;
    flex-direction: row;
    height: 128px;
    max-width: 100%;
  }
  &__Img {
    flex: 1 1 0px;
  }
  &__RaceDesc {
    flex: 1 1 0px;
    text-align: left;
    padding: 8px;
  }
}