@import './CommonStyle.scss';

.RaceMini {
  &__Container {
    @include Card();
    display: flex;
    flex-direction: column;
  }
  &__Img {
    flex: 0 0 64px;
    height: 128px;
  }
  &__RaceDesc {
    flex: 1 1 0px;
    text-align: left;
    padding: 8px;
  }
}