<div class="index__container">
  <h3 class="no-bluetooth-header">No Web-Bluetooth Access?</h3>
  <p class="no-bluetooth-p">If you got here, unfortunately your browser told TourJS that it doesn't support Web-Bluetooth.</p>
  <p class="no-bluetooth-p">TourJS requires your browser to support web-bluetooth in order to connect to your powermeter and play.  Web-Bluetooth is supported in Google Chrome, but not in any other browsers</p>
  <p class="no-bluetooth-p">If you've got a BLE stick like an IOGear GBU521, you can plug it in and refresh to see if your browser gets happier.</p>
  <p class="no-bluetooth-p">If you want to see what the game looks like, you can check out the {{#link-to 'test-hacks'}}test page{{/link-to}}</p>
  <hr />
  <h4 class="no-bluetooth-header">Recommended Systems</h4>
  <ul>
    <li>Android + Chrome</li>
    <li>Apple MacOS + Chrome</li>
    <li>Windows PCs + Chrome - <i>you may need an BLE addon stick like an <a href='https://www.amazon.ca/Iogear-Bluetooth-Micro-Adapter-Gbu521/dp/B007GFX0PY/'>IOGear GBU521</a></i>.  TourJS is developed on a Windows desktop with an IOGear GBU521</li>
  </ul>
  <hr />
  <h4 class="no-bluetooth-header">Annoyingly Unsupported Systems</h4>
  <ul>
    <il>iPhones running chrome - due to Apple's policies, Chrome on iPhone is really just Safari in lipstick, and so doesn't support many features that Chrome usually does.</il>
    <li>Firefox</li>
    <li>Safari</li>
    <li>Internet Explorer</li>
  </ul>
</div>