
<div class="display-race__content">
  <div class="display-race__main-holder">
    {{main-map raceState=raceState}}
  </div>
  <div class="display-race__info-container">
    {{user-dashboard raceState=raceState frame=frame}}
    {{leader-board raceState=raceState frame=frame}}
  </div>
</div>