{{#if userDisplay}}
  <div class="user-dashboard__table">
    <div  class="user-dashboard__tr">
      <div class="user-dashboard__group">
        <span class="user-dashboard__label"><i class="fas fa-bolt"></i></span>
        <span class="user-dashboard__value">{{userDisplay.lastPower}}</span>
      </div>
      <div class="user-dashboard__group">
        <span class="user-dashboard__label"><i class="fas fa-tachometer-alt"></i></span>
        <span class="user-dashboard__value">{{userDisplay.speed}}</span>
      </div>
      <div class="user-dashboard__group">
        <span class="user-dashboard__label"><i class="fas fa-mountain"></i></span>
        <span class="user-dashboard__value">{{userDisplay.slope}}</span>
      </div>
    </div>
  </div>
{{/if}}