{{tourjs-header}}

<div class="display-post-race__rankings">
  <h3>Rankings:</h3>
  {{#each processedRankings as |result|}}
    <div class="display-post-race__result">
      {{result.rank}} - {{result.name}}: {{result.time}}
    </div>
  {{/each}}
</div>