<div class="user-set-up__content">
  <div class="user-set-up__title">
    Set Up Your User
  </div>
  <div class="user-set-up__element">
    <div class="user-set-up__label">Your Name</div>
    {{input value=userName placeholder="Your Name" class="user-set-up__input"}}
  </div>
  <div class="user-set-up__element">
    <label for="user-picture" class="user-set-up__label">Your Picture (click to add)
      <div class="user-set-up__imagefile">
        <img class="user-set-up__image">
        <input id="user-picture" type="file" accept="image/*" class="user-set-up__file" style="display:none;">
      </div>
    </label>
  </div>
  <div class="user-set-up__element">
    <div class="user-set-up__label">Your Handicap / FTP</div>
    {{input value=userHandicap placeholder="Your Handicap or FTP" class="user-set-up__input"}}
  </div>
  <div class="user-set-up__element">
    <button class="user-set-up__button" {{action 'done'}} disabled={{disableDone}}>Done</button>
  </div>
</div>