{{tourjs-header}}
<div class="set-up-ride__content">
  <div class="set-up-ride__title">
    Current Joinable Rides
  </div>

  {{#each model.races as |race|}}
    {{pending-race race=race joinRace=(action 'joinRace')}}
  {{/each}}
</div>