Set Up Your Ride

How many meters?
{{input type="number" value=meters}}

<button {{action 'go'}}>Create</button>


<div>
  Or join a Ride
  <button {{action 'joinRace' 'asdf'}}>Join 'asdf'</button>
</div>